<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/img/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

{{#if cart}}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td>Title</td>
							{{!-- <td class="description"></td> --}}
							<td class="price">Price</td>
                            <td></td>
							<td class="quantity">Quantity</td>
                            {{!-- <td></td> --}}
							<td>Subtotal</td>
						</tr>
					</thead>
					<tbody>
						{{#each cart}}
						<tr>			
							<td class="cart_product">
								<a href=""><img class="cart_img" src="{{ image }}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ title }}</a></h4>
							</td>
							<td class="cart_price product-price" data-price="{{ price }}">
								<p>${{ price }}</p>
							</td>
							<td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <td class="cart-table">
                                        <span class="qty-display">{{ qty }}</span>
                                        <button class="cart-action cart_quantity_up" data-action="add" data-title="{{ title }}">+</button>&nbsp;                         
                                        <button class="cart-action cart_quantity_down" data-action="remove" data-title="{{ title }}">-</button>&nbsp;
                                        <button class="cart-action" data-action="clear" data-title="{{ title }}">Clear</button>&nbsp;
                                    </td>
                                    <td class="product-subtotal">${{ calculateSubtotal price qty }}</td>
                                </div>					
							</td>
						</tr>
						{{/each}}
                        <td class="cart_total">
							Total: <p class="cart_total_price cart-total">${{ calculateTotal cart }}</p>
						</td>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
	<!-- Nút Buy Now -->
    <div class="text-center">
        <button class="btn btn-primary buynow" href="/buynow">Buy Now</button>
    </div>

    <!-- Nút Clear Cart -->
    <div class="text-center">
        <button class="clearcart btn btn-danger" onclick="clearCart()">Clear Cart</button>
    </div>
{{else}}
    <h3 class="text-center">Your cart is empty.</h3>
{{/if}}
	

    <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>

    <script>

// Hàm tính tổng giá trị của giỏ hàng
function calculateTotal(cart) {
    let total = 0;
    cart.forEach(item => {
        total += parseFloat(item.price) * item.qty;
    });
    return total.toFixed(2);
}

// Hàm cập nhật giao diện người dùng
function updateUI(cart) {
    cart.forEach(item => {
        const productElement = document.querySelector(`[data-title="${item.title}"]`);
        if (productElement) {
            const qtyElement = productElement.parentElement.querySelector('.qty-display');
            const subtotalElement = productElement.parentElement.nextElementSibling;

            if (qtyElement) {
                // Cập nhật số lượng sản phẩm
                qtyElement.textContent = item.qty;

                // Xóa sản phẩm khỏi giỏ hàng nếu số lượng là 0
                if (item.qty === 0) {
                    productElement.parentElement.remove();
                }

                // Cập nhật tổng tiền cho sản phẩm
                subtotalElement.textContent = `$${(parseFloat(item.price) * item.qty).toFixed(2)}`;
            }
        }
    });

    // Cập nhật tổng giá trị của giỏ hàng
    const cartTotalElement = document.querySelector('.cart-total');
    if (cartTotalElement) {
        cartTotalElement.textContent = `$${calculateTotal(cart)}`;
    } else {
        console.error('Cart total element not found');
    }
}


document.addEventListener('DOMContentLoaded', function () {
    const cartActions = document.querySelectorAll('.cart-action');
    cartActions.forEach(function (action) {
        action.addEventListener('click', function (event) {
            event.preventDefault();
            const dataAction = this.getAttribute('data-action');
            const dataTitle = this.getAttribute('data-title');

            fetch(`/update/${dataTitle}?action=${dataAction}`, {
                method: 'POST' // Sử dụng phương thức POST
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Cập nhật giao diện sau khi cập nhật giỏ hàng
                updateUI(data.cart);
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
                // Xử lý lỗi
            });
        });
    });

    // 
    const buyNowButton = document.querySelector('.buynow'); // Lấy button Buy now

    if (buyNowButton) {
        buyNowButton.addEventListener('click', function (event) {
            event.preventDefault();

            // Gọi API để lưu đơn hàng vào MongoDB
            fetch('/checkout2', {
                method: 'POST'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Xử lý sau khi đơn hàng được lưu thành công
                //alert('Order placed successfully!');
                // Chuyển hướng sang trang order-success.hbs sau khi đặt hàng thành công
                window.location.href = '/order_success';
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
                // Xử lý lỗi
            });
        });
    }


});
</script>

<script>
    function clearCart() {
        fetch('/clear', {
            method: 'GET',
            credentials: 'same-origin' // Đảm bảo cookie được gửi đi trong yêu cầu
        })
        .then(response => {
            if (response.ok) {
                // Xử lý khi xóa giỏ hàng thành công
                alert('Cart cleared!');
                window.location.reload();
                //window.location.href = '/cart/checkout';
                // Cập nhật giao diện hoặc thực hiện các thao tác khác ở đây
            } else {
                // Xử lý khi có lỗi xảy ra
                alert('Error clearing cart!');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error clearing cart!');
        });
    }
</script>

    
</body>
</html>