<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/img/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
																	
						
						<div class="shipping text-center"><!--shipping-->
							<img src="/img/poster1.png" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <h2>Name: {{p.title}}</h2>
                                <span>
                                    <img class="pimage" src="/product_images/{{p._id}}/{{p.image}}" alt="Product's image">
                                </span>
                                <h2>Description: {{p.desc}} </h2>                                      
                                <span>
                                    <span>Price: {{p.price}}đ</span> <!-- Sử dụng thuộc tính price của sản phẩm -->     
                                </span>
                                <form action="/add/{{ p.slug }}" method="get">
                                    <button type="submit" class="btn btn-default cart add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </form>            
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->		
				</div>
			</div>
		</div>
	</section>
	
  
    <script src="/js/jquery.js"></script>
	<script src="/js/price-range.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>

    <script>
        function addToCart(slug) {
    fetch(`/add/${slug}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log(data.message);
            updateCartCount(); // Cập nhật số lượng sản phẩm trong giỏ hàng trên navbar
        } else {
            console.error(data.message);
        }
    })
    .catch(error => {
        console.error('Error adding product to cart:', error);
    });
}

    </script>

</body>
</html>