<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/img/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

	<section id="advertisement">
		<div class="container">
			<img src="/img/images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-products-->
                        {{#each categories}}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="category-link" href="/product/category/{{ this.slug }}">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            {{ this.title }}
                                        </a>
                                    </h4>
                                </div>                             
                            </div>
                        {{/each}}
                    </div><!--/category-products-->
                </div>

                    <div class="shipping text-center"><!--shipping-->
							<img src="/img/poster1.png" alt="" />
						</div><!--/shipping-->
				</div>
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
				        {{#each products}}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
                                        <h2 class="title text-center" href="/product/{{this.slug}}">{{ this.title }}</h2>
                                        <a class="pa" href="/product/{{this.slug}}">
										    <img class="img-pd" src="/product_images/{{ this._id }}/{{ this.image }}" alt="{{ this.title }}" />
                                        </a>
										<h2>{{ formatCurrency this.price }}đ</h2>
										<p>{{ this.desc }}</p>
										<form action="/add/{{ this.slug }}" method="get">
											<button class="btn btn-default add-to-cart" type="submit"><i class="fa fa-shopping-cart"></i>Add to cart</button>
										</form>
									</div>
								</div>
							</div>
						</div>
                        {{/each}}

						
                        <ul class="pagination">        
                        </ul>

					</div><!--features_items-->

				</div>
			</div>
		</div>
	</section>
	
	
    <script src="/js/jquery.js"></script>
	<script src="/js/price-range.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>


</html>
